{% extends "admin_panel/base.html" %}
{% block title %}Entries · Dashboard{% endblock %}

{% block content %}
<section>
    <h2 class="section-title">In Memoriam Entries</h2>

    <div class="table-wrap">
        <table class="data-table" aria-label="Entries Table">
            <thead>
                <tr>
                    <th style="width: 72px">New</th>
                    <th>Name</th>
                    <th style="width: 160px;">Date</th>
                    <th style="width: 160px;">Actions</th>
                    <th style="width: 160px;">Published</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr data-id="{{ entry.id }}">
                    <td class="cell-new">
                        {% if entry.viewed == False %}
                        🔴
                        {% endif %}
                    </td>
                    <td class="cell-name">{{ entry.name }}</td>
                    <td class="cell-date">{{ entry.date }}</td>
                    <td>
                        <button class="btn small edit-btn" data-id="{{ entry.id }}" data-name="{{ entry.name|e }}"
                            data-date="{{ entry.date|e }}" data-description="{{ entry.description|e }}">
                            Edit
                        </button>
                    </td>
                    <td class="cell-published">
                        {% if entry.published == True %}
                        ✅
                        {% endif %}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}